


<div class="menu">
  <div class="navbar">
    <button mat-button routerLink="home">SẢN PHẨM</button>
    <button mat-button >MÓN NGON</button>

    <button mat-button >TIN TỨC</button>
    <button mat-button routerLink="contact">LIÊN HỆ</button>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="information">
    <div class="tt">
      <button mat-button >THÔNG TIN LIÊN HỆ</button>
      <div class="ct">
        <p>Ms.Hương Liên</p>
        <p>Chief Operating Officer (COO)</p>
        <p>Email: xoanbk@dhfoods.com.vn</p>
        <p>SĐT/Telegram: +(84) 947 442 788</p>
      </div>

    </div>
    <div class="kn">
      <button mat-button >LIÊN KẾT VỚI DHFOOD</button>
    </div>




  </div>
</div>

