
<div class="img">
  <img src="https://dhfoods.com.vn/vnt_upload/news/12_2022/Gio_qua_gia_vi_Tet_Dh_Foods_cover_dai.jpg" alt="" srcset="">
</div>
<div class="introduct">
  <p>GIA VỊ NHÀ FOOD</p>
</div>
<div class="product" >
  <div class="item"*ngFor="let item of product">
    <li>
      <img src="https://dhfoods.com.vn/vnt_upload/product/06_2021/thumbs/350_fw_3D_Muoi_ot_chanh_gung_Nha_Trang_200g_1.png" >
      <!-- <img src="{{item.img}}" alt="" srcset=""> -->
      <p>{{item.name}}</p>
      <p>{{item.gia}}</p>
    </li>
    <li class="cart">
      <button >MUA HÀNG</button>

    </li>
  </div>
</div>
